/* Page layout*/
body {
	background-color: #4D5E5F;
	margin: 0;
	padding: 0;
	font-family: defaultFont
}

.mainPage {
	border-left: 2px solid #4D5E5F;
	border-right: 2px solid #4D5E5F;
	width: 1100px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin: auto;
}

@font-face {
	font-family: defaultFont;
	src: url(../font/CaviarDreams.ttf);
}

/* Header*/
.header {
	background-color: #F84934;
	border-bottom: 2px solid #4D5E5F;
	border-radius: 10px 10px 10px 10px;
	width: inherit;
	background:linear-gradient(to bottom, #F84934 , #F75440);
	font-weight: 900;
}

	#logo{
		display:block;		
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		width: 200px;
	}

	h1 {
		font-style: oblique;
		font-size: 2em;
		color: #4D5E5F;
		text-align: center;		
		margin-top: 0px;
		margin-bottom: 0px;
	}

	/* Menu*/
	.menu {
		width: auto;
	}

	#menu {
		font-style: italic;
		font-size: 1.3em;
		border: 2px solid #4D5E5F;
		border-left: none;
		border-right: none;
		width:inherit;
		padding: auto;
		text-align: center;
	}

	ul#menu li {
		display: inline;
		margin: 60px 60px auto;
		color: #4D5E5F;
	}

	ul#menu li a {
		color: #4D5E5F;
		text-decoration: none;	
	}

	ul#menu li a:hover, a:active {
	    color: white;
	    background-color: #4D5E5F;	
	}

/* Body */
.body {
	width: inherit;
	height: 100%;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	font-weight: 900;
}
/* Footer */
.footer {
	background-color: #F84934;
	text-align: center;
	border-top: 2px solid #4D5E5F;
	border-radius: 10px 10px 10px 10px;
	width: inherit;	
	font-weight: 900;
}

	#copyright {
		text-align: center;
		color: #4D5E5F;	
	}

	#documentation {
		text-align: center;
		color: #4D5E5F;
		
	}

	#documentation > a {
		text-align: center;
		text-decoration: none;
		color: #4D5E5F;	
	}

	#documentation > a:hover {
		color: white;	
	}