body {
	height: 100%;
	background-color: #F84934;
	margin: 0;
	padding: 0;
}

#mainPage {
	background-color: white;
	color: #4D5E5F;
	font-style:bold;
	font-family: Arial,sans-serif;

	width: 1000px;
	height: 100%;

	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
#design {
	background-color: white;
	margin: 0;
	
	padding: 20px;

}

#design a {
	text-decoration: none;
}

h1 {
	
	margin-top: 5px;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h2 {
	

	font-style: oblique;
	
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h3 {
	font-style: oblique;
	
	padding: 5px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

span {
	font-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}